{% extends "inicio.html" %}

{% block contenidoQueCambia %}
<div class="container py-5">
  <h2 class="mb-4">Lista de Médicos</h2>

  <a class="btn btn-primary mb-3" href="{% url 'medicosFormulario' %}">
    Agregar médico
  </a>
  {% if medicos %}
    <ul class="list-group">
      {% for m in medicos %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <span>{{ m.nombre }} {{ m.apellido }}</span>
          <span class="badge bg-primary rounded-pill">{{ m.especialidad }}</span>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p></p>
  {% endif %}
</div>
{% endblock %}


